	/* RATINGS */
 @font-face {
        font-family: 'Glyphicons Halflings';
        src:url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot');
        src:url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
          url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff') format('woff'),
          url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
          url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
      }
		
.br-theme-bootstrap-stars .br-widget a {
  font-size:40px !important;
}

.rating {
    border-radius: 4px;
    float: left;
    margin-bottom: 20px;
    padding: 14px;
    width: auto;
}
.rating span {
    cursor: pointer;
    float: right;
    position: relative;
}
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
	cursor:pointer;
}

.reviewshortcode textarea {
    width: 98% !important;
}

.reviewshortcode {
  margin:20px auto;
  padding:1% 0;
  text-align:center !important;
  width:100%;
}

.reviewfail {
    background: red none repeat scroll 0 0;
    color: white;
    font-family: arial;
    margin-top: 10px;
    padding: 20px;
}
.reviewsuccess {
    background: green none repeat scroll 0 0;
    color: white;
    font-family: arial;
    margin-top: 10px;
    padding: 20px;
}

#footer-bottom {
    background-color: #fff !important;
}
input[type=submit], a.btn, .zm_alr_form_container input[type="submit"], .button  {
    background: #2ea3f2 none repeat scroll 0 0 !important;
    border: 0 none;
    border-radius: 5px;
    color: #fff !important;
    font-family: arial;
    font-size: 17px;
    font-weight: bolder;
    padding: 12px 22px;
    cursor: pointer;
	margin-top: 10px;
}
input[type=submit]:hover, a.btn:hover, .zm_alr_form_container input[type="submit"]:hover, .button:hover {
    background: #f3b93c none repeat scroll 0 0;
}
input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input.text, input.title, textarea, select {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: #4e4e4e;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
#footer-info, #footer-info a {
    color: #959595;
}

textarea {
    min-height: 150px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    border: 2px solid #2ea3f2;
}
.fifty {
    float: left;
    padding-right: 30px;
    width: 50%;
}
.email {
    float: left;
    width: 50%;
}
h1 {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
}
h2, h3 {
    color: #7c7c7c;
    font-size: 65px;
    font-weight: 200;
}
label {
    font-size: 16px;
}
.registerbutton {
    border: 2px solid #2ea3f2;
    border-radius: 5px;
    height: 44px;
    padding: 11px 15px !important;
}
#main-header {
    background-color: #f2f2f2;
    box-shadow: none;
}
.current-menu-item {
    border-bottom: 3px solid #ccc;
}
.menu-item {
	padding-left: 20px;
}
#logo {
    max-height: 55%;
}
#top-menu li {
    font-size: 16px;
}
.reviewcopy {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #ccc;
    font-style: italic;
    padding: 20px;
}
#footer-info {
    text-align: center;
    width: 100%;
}
.edit-attachment {
	display:none;
}
#wpua-preview-existing {
	width: 100%;
}
#wpua-thumbnail-existing, .description, #pmpro_account-profile {
	display: none !important;
}
#wpua-remove-button-existing, #wpua-undo-button-existing {
	float: left;
	margin-right:10px;
	width: auto;
}
form.pmpro_form .pmpro_submit {
    margin-left: 0px;
}
th {
	background: #f7f7f7 none repeat scroll 0 0;
}
#wpua-add-existing {
	margin-bottom: 26px;
}
.entry-content table, body.et-pb-preview #main-content .container table {
    margin: 17px 0 15px;
}
.copybutton {
    background: #2ea3f2 none repeat scroll 0 0 !important;
    border: 0 none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    font-family: arial;
    font-size: 17px;
    font-weight: bolder;
    margin-top: 10px;
    padding: 12px 22px;
    width: 100%;
}
.updated, .wpua-edit-container h3 {
	display:none;
}


.half {
	float: left;
    margin-right: 5%;
    width: 45%;
}

.et_button_left .et_pb_button:hover, .et_button_icon_visible.et_button_left .et_pb_button, .et_button_left.woocommerce a.button.alt:hover, .et_button_left.woocommerce-page a.button.alt:hover, .et_button_left.woocommerce button.button.alt:hover, .et_button_left.woocommerce-page button.button.alt:hover, .et_button_left.woocommerce input.button.alt:hover, .et_button_left.woocommerce-page input.button.alt:hover, .et_button_left.woocommerce #respond input#submit.alt:hover, .et_button_left.woocommerce-page #respond input#submit.alt:hover, .et_button_left.woocommerce #content input.button.alt:hover, .et_button_left.woocommerce-page #content input.button.alt:hover, .et_button_left.woocommerce a.button:hover, .et_button_left.woocommerce-page a.button:hover, .et_button_left.woocommerce button.button:hover, .et_button_left.woocommerce-page button.button:hover, .et_button_left.woocommerce input.button:hover, .et_button_left.woocommerce-page input.button:hover, .et_button_left.woocommerce #respond input#submit:hover, .et_button_left.woocommerce-page #respond input#submit:hover, .et_button_left.woocommerce #content input.button:hover, .et_button_left.woocommerce-page #content input.button:hover, .et_button_icon_visible.et_button_left.woocommerce a.button.alt, .et_button_icon_visible.et_button_left.woocommerce-page a.button.alt, .et_button_icon_visible.et_button_left.woocommerce button.button.alt, .et_button_icon_visible.et_button_left.woocommerce-page button.button.alt, .et_button_icon_visible.et_button_left.woocommerce input.button.alt, .et_button_icon_visible.et_button_left.woocommerce-page input.button.alt, .et_button_icon_visible.et_button_left.woocommerce #respond input#submit.alt, .et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit.alt, .et_button_icon_visible.et_button_left.woocommerce #content input.button.alt, .et_button_icon_visible.et_button_left.woocommerce-page #content input.button.alt, .et_button_icon_visible.et_button_left.woocommerce a.button, .et_button_icon_visible.et_button_left.woocommerce-page a.button, .et_button_icon_visible.et_button_left.woocommerce button.button, .et_button_icon_visible.et_button_left.woocommerce-page button.button, .et_button_icon_visible.et_button_left.woocommerce input.button, .et_button_icon_visible.et_button_left.woocommerce-page input.button, .et_button_icon_visible.et_button_left.woocommerce #respond input#submit, .et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit, .et_button_icon_visible.et_button_left.woocommerce #content input.button, .et_button_icon_visible.et_button_left.woocommerce-page #content input.button {
    color: #fff;
}
.et_button_custom_icon .et_pb_button:hover::after, .et_button_custom_icon.et_button_icon_visible .et_pb_button::after, .et_button_custom_icon.woocommerce a.button.alt:hover::after, .et_button_custom_icon.woocommerce-page a.button.alt:hover::after, .et_button_custom_icon.woocommerce button.button.alt:hover::after, .et_button_custom_icon.woocommerce-page button.button.alt:hover::after, .et_button_custom_icon.woocommerce input.button.alt:hover::after, .et_button_custom_icon.woocommerce-page input.button.alt:hover::after, .et_button_custom_icon.woocommerce #respond input#submit.alt:hover::after, .et_button_custom_icon.woocommerce-page #respond input#submit.alt:hover::after, .et_button_custom_icon.woocommerce #content input.button.alt:hover::after, .et_button_custom_icon.woocommerce-page #content input.button.alt:hover::after, .et_button_custom_icon.woocommerce a.button:hover::after, .et_button_custom_icon.woocommerce-page a.button:hover::after, .et_button_custom_icon.woocommerce button.button:hover::after, .et_button_custom_icon.woocommerce-page button.button:hover::after, .et_button_custom_icon.woocommerce input.button:hover::after, .et_button_custom_icon.woocommerce-page input.button:hover::after, .et_button_custom_icon.woocommerce #respond input#submit:hover::after, .et_button_left.woocommerce-page #respond input#submit:hover::after, .et_button_custom_icon.woocommerce #content input.button:hover::after, .et_button_custom_icon.woocommerce-page #content input.button:hover::after, .et_button_custom_icon.et_button_icon_visible.woocommerce a.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page a.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce button.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page button.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce input.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page input.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce #respond input#submit.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page #respond input#submit.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce #content input.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page #content input.button.alt::after, .et_button_custom_icon.et_button_icon_visible.woocommerce a.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page a.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce button.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page button.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce input.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page input.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce #respond input#submit::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page #respond input#submit::after, .et_button_custom_icon.et_button_icon_visible.woocommerce #content input.button::after, .et_button_custom_icon.et_button_icon_visible.woocommerce-page #content input.button::after {
    color: #fff;
}

.lower h2 {
    font-size: 18px !important;
    font-weight: 600px !important;
}

@media screen and (max-width: 600px) {
.et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container, .et_fixed_nav.et_show_nav #page-container {
    padding-top: 0;
}
}